body{
    font-family: 'Roboto', sans-serif;
}

/* Header */

.heading {
    background-color: #f3e9f1;
    a {
        color: black;
    }
    .basket-icon {
        font-size: 2rem;
        text-align: center;
    }
    img {
        width:  10rem;
    }
    .nav-link {
        font-size: 1.5rem;
        font-family: 'Gochi Hand', cursive;
    }
}

/* Homepage */

main{
    #products{
        font-family: 'Roboto', sans-serif;
        margin: 50px 0px 50px 0px;
    }
    .products-list{
        a{
            text-decoration: none;
        }
        img{
            height: 200px;
            width: 250px
        }
    }
}

/* Product page*/
.product{
    margin-top : 100px;
    #product-img{
        width: 100%;
    }
    .product-features{
        padding-top: 30px;
        #varnish-select{
            right: 0px;
        }
        .btn{
            right: 15px;
            margin-top: 10px;
        }
    }
}

